.border-bottom {
  border-bottom: 1px solid #cecece;
}
.border-bottom:last-child {
  border-bottom: none;
}
.button {
  border-radius: 0;
  width: 92%;
  color: rgb(73, 72, 72);
  background: white;
  pointer-events: auto;
  padding-left: 0;
  /* margin-right: 20px; */
}
.button:first-child {
  margin-top: -10px;
}

.input, .input__field, .input__field:placeholder-shown {
  border-radius: 0;
  border: none;
}
.input {
  border-bottom: 1px solid #cecece;
}